label {
  display: inline-block;
  margin: 0 1em;
  width: 11em;
  text-align: right;
  vertical-align: top;
}

input[type="number"] {
  display: inline-block;
  width: 4em;
}

h2 {
  font-size: 125%;
  margin-bottom: 1em;
  font-weight: bold;
}

#buttons {
  position: absolute;
  top: 1em;
  right: 1em;
}

#buttons button {
  display: block;
  margin: 1em;
}

.split {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1em;
}

.split > * {
  box-sizing: border-box;
  display: inline-block;
  width: calc(50% - 3em);
  vertical-align: top;
}

th, td {
  width: 9em;
}

th.header, th.footer {
  background-color: #ddaaaa;
}

th.half-1 {
  background-color: #aadddd;
}

td.half-1 {
  background-color: #ccffff;
}

th.half-2 {
  background-color: #aaddaa;
}

td.half-2 {
  background-color: #ccffcc;
}

#players {
  height: 20em;
}

select.error {
  background-color: red;
}

select.warning {
  background-color: #ffffaa;
}

select.change {
  font-weight: bold;
}

.instructions {
  font-size: 125%;
  margin: 1em;
}

#player-totals {
  font-size: 125%;
}

#player-totals .error {
  background-color: #ffaaaa;
}
